<?xml version="1.0"?>

-<widget version="0.0.1" id="A6948405735883">

<name>mytest</name>

<description> Example For APICloud. </description>

<author href="http://www.apicloud.com" email="developer@apicloud.com"> Developer </author>

<content src="index.html"/>

<access origin="*"/>

<preference value="false" name="pageBounce"/>

<preference value="rgba(0,0,0,0.0)" name="appBackground"/>

<preference value="rgba(0,0,0,0.0)" name="windowBackground"/>

<preference value="rgba(0,0,0,0.0)" name="frameBackgroundColor"/>

<preference value="true" name="hScrollBarEnabled"/>

<preference value="true" name="vScrollBarEnabled"/>

<preference value="true" name="autoLaunch"/>

<preference value="false" name="fullScreen"/>

<preference value="true" name="autoUpdate"/>

<preference value="false" name="smartUpdate"/>

<preference value="true" name="debug"/>

<preference value="true" name="statusBarAppearance"/>

<permission name="readPhoneState"/>

<permission name="camera"/>

<permission name="record"/>

<permission name="location"/>

<permission name="fileSystem"/>

<permission name="internet"/>

<permission name="bootCompleted"/>

<permission name="hardware"/>


-<feature name="baiduLocation">

<param value="8uBt9y54pwbH5EXH3YlMs4f0tnWZMwvd" name="apiKey"/>

</feature>

</widget>